body {
    background: url("../media/marble.jpg") repeat;
    background-size: cover;
}

@media (min-width: 350 px) {
    header a {
        width: 50%;
    }
}

@media (min-width: 530 px) {
    header a {
        float: right;
    }
}

header a {
    text-decoration-line: blink;
    display: inline-block;
    padding: 1em 0;
    margin: 0 10px;
    margin-top: 0;
    // maybe try a darker green for the outline of the box button and letters?
    border: 1px solid;
    background-color: #b0d785;
    color: #fff;
    float: right;
}

header {
    border-bottom: 1px solid black;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 10px;
}

nav li a {
    text-decoration-line: none;
}

.first-pic {
    display: flex;
    justify-content: center;
}
